.gallery {
    margin-top: 50px;
    margin-bottom: 62px;

    &--point {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & h1 {
            color: var(--gray-6, #F2F2F2);
            font-family: 'TroubleSide';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 20px;
        }

        &--buttons {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 14px;
            width: 100%;
            z-index: 999;




            .active {
                transition: all .2s ease-in-out;
                transform: scale(1) translateY(0);

            }

            .button_ordering-active {
                button {
                    img {
                        transform: rotate(180deg);

                    }

                }
            }

            & button {
                position: relative;
                border: none;
                padding: 14px 31px 18px 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                color: #F2F2F2;
                font-family: 'TroubleSide';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background: url(../../public/assets/svg/button--black--fon.svg);
                cursor: pointer;
            }

            .button_ordering-active {
                transform: rotate(180deg);

            }

            .categories {
                position: absolute;
                transform: scale(0) translateY(-100%);
                padding: 15px 0;
                transition: all .2s ease-in-out;
                display: flex;
                top: 34px;
                flex-direction: column;
                z-index: 9999;
                justify-content: center;
                align-items: center;
                width: 100%;

                a {
                    width: 100%;
                    text-decoration: none;
                }

                button {
                    width: 100%;
                    padding: 15px 0;

                }
            }

            .active {
                transition: all .2s ease-in-out;
                transform: scale(1) translateY(0);

            }


            .cat {
                max-width: 250px;
                width: 100%;
                padding: 15px 20px;

            }

        }
    }

    &--cards {
        margin-top: 24px;
        margin-bottom: 41px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 21px;

        .swiper-slide {
            width: 546px;

            .gallery--cards--fon {
                background: url(../../public/assets/img/man.png) center / cover;
                width: 100%;
                position: relative;
                height: 546px;
                display: block;
            }

            .gallery--cards--fon::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../../public/assets/img/man--fon.webp) center;
            }
        }

        &--fon {
            background: url(../../public/assets/img/man.png) center / cover;
            width: 546px;
            position: relative;
            height: 546px;
            transition: .2s ease-in-out;


            &:hover {
                transition: .2s ease-in-out;
                transform: scale(1.05);
            }


            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../../public/assets/img/man--fon.webp) center;
            }
        }
    }

    &--buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        & svg {
            cursor: pointer;
            opacity: 0.2;

            &:first-child {
                transform: rotate(180deg);
            }

            &:hover {
                opacity: 1;
            }
        }

        &--btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            & button {
                background: url(../../public/assets/svg/btn--fon.svg) center / cover;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #F2F2F2;
                text-align: center;
                font-family: 'c Combe';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 36px;
                height: 33px;
                opacity: 0.4;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }




            }

            .active {
                opacity: 1;

            }



        }
    }
}