.main {

    .title {
        margin-top: 50px;

        &--text {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            margin-bottom: 26px;

            & h1 {
                color: #F2F2F2;
                font-family: 'TroubleSide';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        &--front {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 80px;

            .gallery--cards--fon.act {
                width: 830px;
                height: 658px;
                background: url(/assets/img/full--man--img.png) center;

                &::before {
                    background-size: cover;
                    background-position: initial;
                }
            }

            &--paragraphs {

                &>h1 {
                    color: #F2F2F2;
                    font-family: 'TroubleSide';
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                    max-width: 510px;
                    margin-bottom: 32px;
                }

                &>p {
                    color: #F2F2F2;
                    font-family: 'TroubleSide';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    max-width: 768px;
                    margin-bottom: 63px;
                }

                &--designe {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    p {
                        color: #F2F2F2;
                        font-family: 'TroubleSide';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        max-width: 300px;

                    }

                    &--chart {
                        & p:first-child {
                            margin-bottom: 20px;
                        }

                        & p {
                            color: #F2F2F2;
                            font-family: 'TroubleSide';
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }
                    }

                }

                &--flex {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 24px;
                    margin-bottom: 50px;

                    &>p {
                        color: #F2F2F2;
                        font-family: 'TroubleSide';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;

                    }

                    &--btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;

                        &--act {
                            width: 36px;
                            height: 33px;
                            background: url(/assets/svg/btn--fon.svg) center;
                            border: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #F2F2F2;
                            text-align: center;
                            font-family: 'c Combe';
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            cursor: pointer;
                        }
                    }
                }

                &--price {

                    &--designe {
                        display: flex;
                        align-items: flex-start;
                        gap: 16px;

                        & h1 {
                            color: #F2F2F2;
                            font-family: 'c Combe';
                            font-size: 64px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        & h2 {
                            color: #B52A2D;
                            font-family: 'c Combe';
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-decoration-line: strikethrough;
                        }
                    }

                    & button {
                        color: #F2F2F2;
                        font-family: 'TroubleSide';
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        border: none;
                        background: url(/assets/svg/red--btn--forn.svg) center / cover;
                        width: 170px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .gallery {
        margin-top: 50px;
        margin-bottom: 62px;

        &--point {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & h1 {
                color: #F2F2F2;
                font-family: 'TroubleSide';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        &--cards {
            margin-top: 24px;
            margin-bottom: 41px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 21px;
            width: fit-content;

            &--fon {

                &.act {
                    background: url(/assets/img/man.png) center / cover;
                    width: 546px;
                    height: 658px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: url(/assets/img/man--fon.png) center;
                    }
                }
            }
        }
    }
}

@media(max-width: 1690px) {
    .container {
        width: 1450px;
    }

    .main .title--pos.pos3 {
        top: 82px;
        right: 566px;
    }

    .main .title--pos.pos4 {
        top: 99px;
        right: 829px;
    }

    .main .title--pos h1 {
        font-size: 24px;
    }

    .main .title--pos span {
        font-size: 16px;
    }

    .main .title--pos.pos5 {
        top: 405px;
        right: 437px;
    }

    .main .title--pos.pos9 {
        bottom: 297px;
        left: 310px;
    }

    .main .title--pos.pos6 {
        top: 478px;
        right: 652px;
    }

    .main .gallery--cards--fon {
        width: 469px;
    }

    .main .gallery--cards--fon.act {
        width: 469px;
        height: 653px;
    }
}

@media(max-width: 1470px) {
    .container {
        width: 1200px;
    }


    .main .title--pos.pos3 {
        right: 448px;
    }

    .main .title--pos.pos4 {
        right: 683px;
    }

    .main .title--pos.pos6 {
        right: 524px;
    }

    .main .title--pos.pos5 {
        top: 392px;
        right: 317px;
    }

    .main .title--pos.pos8 {
        top: 503px;
        right: 141px;
    }

    .main .title--pos.pos8 h1 {
        top: -89px;
    }

    .main .gallery--point--buttons button {
        font-size: 14px;
    }

    .main .gallery--cards--fon {
        width: 386px;
        height: 460px;
    }

    .main .gallery--cards--fon::before {
        background: url(/assets/img/man--fon.png) right / contain;
    }

    .main .title--follow>img {
        width: 230px;
        margin-bottom: -25px;
    }

    .main .title--follow>h1 {
        font-size: 32px;
    }

    .main .gallery--cards--fon.act {
        width: 386px;
        height: 480px;
    }

    .main .gallery--cards--fon.act::before {
        background-position: initial;
    }
}

@media(max-width: 1220px) {
    .container {
        width: 1024px;
    }

    .main .title--pos.pos3 {
        right: 373px;
    }

    .main .title--pos.pos9 {
        left: 222px;
    }

    .main .title--pos.pos4 {
        right: 596px;
    }

    .main .title--pos.pos5 {
        top: 382px;
        right: 251px;
    }

    .main .title--pos.pos6 {
        right: 442px;
        top: 455px;
    }

    .main .title--pos.pos8 {
        top: 496px;
        right: 109px;
    }

    .main .gallery--cards--fon {
        width: 327px;
        height: 395px;
    }


    .main .title--front--paragraphs>h1 {
        font-size: 26px;
    }

    .main .title--front--paragraphs>p {
        font-size: 12px;
    }

    .main .title--front--paragraphs--designe>p {
        font-size: 12px;
        max-width: 244px;
    }

    .main .title--front--paragraphs--designe--chart p {
        font-size: 12px;
    }

    .main .title--front--paragraphs--flex>p {
        font-size: 12px;
    }

    .main .title--front--paragraphs--flex--btn--act {
        width: 30px;
        height: 27px;
        font-size: 14px;
    }

    .main .title--front--paragraphs--price--designe h1 {
        font-size: 50px;
    }

    .main .title--front--paragraphs--price--designe h2 {
        font-size: 19px;
    }

    .main .title--front--paragraphs--price button {
        font-size: 21px;
        width: 152px;
        height: 39px;
    }

    .main .gallery--cards--fon.act {
        width: 327px;
        height: 395px;
    }

    .main .title--front--paragraphs--flex {
        margin-top: 15px;

    }
}

@media(max-width: 1040px) {
    .container {
        width: 768px;
    }


    .main .title--pos.pos2 {
        right: 121px;
    }

    .pos1 img {
        width: 50px !important;
    }

    .pos6 img {
        width: 30px !important;
    }

    .pos2 img,
    .pos3 img,
    .pos9 img,
    .pos5 img,
    .pos8 img {
        width: 80px !important;
    }

    .pos7 img {
        width: 150px !important;
    }

    .main .title--pos.pos2 {
        right: 70px;
    }

    .main .title--pos.pos2 h1 {
        bottom: -58px;
        right: 9px;
    }

    .main .title--pos h1 {
        font-size: 20px;
    }

    .main .title--pos span {
        font-size: 13px;
    }

    .main .title--pos.pos3 {
        right: 221px;
        top: 137px;
    }

    .main .title--pos.pos3 span {
        bottom: 39px;
        right: -32px;
    }

    .main .title--follow>img {
        width: 190px;
    }

    .main .title--follow>h1 {
        font-size: 25px;
    }

    .main .title--pos.pos8 {
        top: 472px;
        right: 109px;
    }

    .main .title--pos.pos8 h1 {
        top: -75px;
        right: -22px;
    }

    .main .title--pos.pos6 {
        right: 299px;
        top: 398px;
    }

    .main .title--pos.pos5 {
        top: 345px;
        right: 116px;
    }

    .main .title--pos.pos5 h1 {
        bottom: 53px;
        right: -80px;
        text-align: center;
    }

    .main .title--pos.pos9 {
        left: 135px;
    }

    .main .title--pos.pos9 h1 {
        top: 9px;
        left: -119px;
    }

    .main .title--pos.pos4 {
        right: 429px;
        top: 76px;
    }

    .main .title--pos.pos1 span {
        bottom: -30px;
        right: 21px;
    }

    .main .title--pos.pos2 {
        right: 50px;
    }

    .main .title--pos.pos7 {
        top: 522px;
        left: 119px;
    }

    .main .title--pos.pos7 h1 {
        top: -6px;
        left: -117px;
    }

    .main .gallery--point h1 {
        font-size: 13px;
    }

    .main .gallery--point--buttons button {
        font-size: 13px;
    }

    .main .gallery--cards--fon {
        width: 242px;
        height: 292px;
    }

    .main .gallery--buttons--btn button {
        font-size: 15px;
        width: 30px;
        height: 26px;
    }

    .main .gallery--cards--fon.act {
        width: 242px;
        height: 297px;
    }

    .main .title--text h1 {
        font-size: 12px;
    }

    .main .title--front {
        gap: 26px;
    }

    .main .title--front .gallery--cards--fon.act {
        width: 808px;
        height: 440px;
        background-size: cover;
    }

    .main .title--front--paragraphs>h1 {
        font-size: 16px;
    }

    .main .title--front--paragraphs>p {
        font-size: 9px;
        margin-bottom: 27px;
    }

    .main .title--front--paragraphs--designe>p {
        font-size: 9px;
        max-width: 181px;
    }

    .main .title--front--paragraphs--designe--chart p {
        font-size: 9px;
    }

    .main .title--front--paragraphs--flex>p {
        font-size: 9px;
    }

    .main .title--front--paragraphs--flex--btn--act {
        width: 27px;
        height: 24px;
        font-size: 11px;
    }

    .main .title--front--paragraphs--price--designe h1 {
        font-size: 40px;
    }

    .main .title--front--paragraphs--price--designe h2 {
        font-size: 17px;
    }

    .main .title--front--paragraphs--price button {
        font-size: 17px;
        width: 127px;
        height: 28px;
    }
}

@media(max-width: 780px) {
    .container {
        width: 420px;
    }


    .main .title--pos.pos2 {
        right: 0px;
    }

    .pos1 img,
    .pos4 img {
        width: 40px !important;
    }

    .pos6 img {
        width: 20px !important;
    }

    .pos2 img,
    .pos3 img,
    .pos9 img,
    .pos5 img,
    .pos8 img {
        width: 60px !important;
    }

    .pos7 img {
        width: 80px !important;
    }

    .main .gallery--cards--fon {
        width: 205px;
        height: 241px;
    }

    .main .gallery--point--buttons button {
        font-size: 14px;
    }

    .main .gallery--point--buttons button {
        padding: 11px 21px 12px 21px;
        background-size: cover;
    }

    .main .gallery--point--buttons button,
    .main .gallery--point h1 {
        font-size: 9px;
    }

    .gallery--point--buttons img {
        width: 10px;
    }

    .main .gallery--cards {
        margin-top: 18px;
        margin-bottom: 20px;
        gap: 10px;
    }

    .main .title--pos span {
        font-size: 9px;
    }

    .main .title--pos.pos1 span {
        bottom: -17px;
        right: 30px;
    }

    .main .title--pos h1 {
        font-size: 13px;
    }

    .main .title--pos.pos2 h1 {
        bottom: -41px;
        right: 48px;
    }

    .main .title--follow>img {
        width: 153px;
        margin-bottom: -14px;
    }

    .main .title {
        padding: 100px 0;
    }

    .main .title--follow>h1 {
        font-size: 17px;
    }

    .main .title--follow--icons img {
        width: 24px;
        cursor: pointer;
    }

    .main .title--pos.pos5 {
        top: 273px;
        right: 0;
    }

    .main .title--pos.pos5 h1 {
        bottom: 44px;
        right: -64px;
        text-align: center;
    }

    .main .title--pos.pos8 {
        top: 377px;
        right: 38px;
    }

    .main .title--pos.pos8 h1 {
        top: -54px;
        right: 3px;
    }

    .main .title--pos.pos3 {
        right: 70px;
        top: 112px;
    }

    .main .title--pos.pos3 span {
        bottom: 23px;
        right: 10px;
    }

    .main .title--pos.pos9 {
        left: 48px;
        bottom: 215px;
    }

    .main .title--pos.pos9 h1 {
        left: -79px;
    }

    .main .title--pos.pos6 span {
        font-size: 9px;
        bottom: -20px;
        left: -41px;
    }

    .main .title--pos.pos6 {
        right: 120px;
        top: 320px;
    }

    .main .title--pos.pos4 {
        right: 202px;
        top: 76px;
    }

    .main .title--pos.pos4 h1 {
        bottom: -2px;
        right: 108px;
        text-align: center;
    }

    .main .title--pos.pos7 {
        top: 409px;
        left: 51px;
    }

    .main .title--pos.pos7 h1 {
        top: 4px;
        left: -75px;
    }

    .main .gallery--buttons--btn button {
        font-size: 12px;
        width: 27px;
        height: 23px;
    }

    .main .gallery--buttons img {
        cursor: pointer;
        width: 9px;
    }


    .main .title {
        padding: 0 0;
    }

    .main .gallery--cards--fon.act {
        width: 205px;
        height: 253px;
    }

    .main .title--text {
        margin-bottom: 13px;
    }

    .title--text span img {
        width: 15px;
    }

    .main .title--front--paragraphs>h1 {
        font-size: 11px;
        max-width: 157px;
        margin-bottom: 16px;
    }

    .paragraphs>p {
        font-size: 7px;
        margin-bottom: 17px;
    }

    .main .title--front--paragraphs>p {
        font-size: 12px;
    }

    .main .title--front--paragraphs>p {
        max-width: 274px;
        margin-bottom: 20px;
        font-size: 8px;
    }

    .main .title--front--paragraphs--designe>p {
        font-size: 7px;
        max-width: 136px;
    }

    .main .title--front--paragraphs--designe--chart p {
        font-size: 7px;
    }

    .main .title--front--paragraphs--designe--chart p:first-child {
        margin-bottom: 7px;
    }

    .main .title--front--paragraphs--flex>p {
        font-size: 7px;
    }

    .main .title--front--paragraphs--flex--btn--act {
        width: 24px;
        height: 21px;
        font-size: 9px;
    }

    .main .title--front--paragraphs--flex {
        margin-bottom: 20px;
    }

    .main .title--front--paragraphs--price--designe h1 {
        font-size: 30px;
    }

    .main .title--front--paragraphs--price--designe h2 {
        font-size: 14px;
    }

    .main .title--front--paragraphs--price button {
        font-size: 14px;
        width: 100px;
        height: 22px;
    }

    .main .title--front {
        gap: 13px;
    }

    .main .title--front--paragraphs--flex {
        gap: 8px;
        margin-bottom: 20px;
    }

    .main .title--front {
        flex-direction: column;
    }

    .main .title--front .gallery--cards--fon.act {
        width: 100%;
    }

    .main .title--front {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .main .title--front--paragraphs>p {
        max-width: 100%;
    }

}

@media(max-width: 550px) {
    .main .title--pos.pos9 {
        left: 82px;
    }

    .main .title--pos.pos9 h1 {
        left: -58px;
    }

    .main .title--pos.pos5 {
        top: 273px;
        right: 41px;
    }

    .pos5 img {
        transform: rotate(42deg);
    }

    .main .title--pos.pos5 h1 {
        transform: rotate(22.575deg);
        bottom: 3px;
        right: -64px;
    }

    .main .title--pos.pos7 {
        top: 409px;
        left: 89px;
    }
}

@media(max-width: 470px) {
    .main .title--pos.pos5 {
        display: none;
    }
}

@media(max-width: 425px) {
    .container {
        width: 375px;
    }

    .main .gallery--cards--fon {
        width: 182px;
        height: 217px;
    }

    .main .title--pos.pos9 {
        left: 67px;
    }

    .main .title--pos.pos3 {
        right: 45px;
    }

    .main .title--pos.pos6 {
        right: 95px;
        top: 320px;
    }

}

@media(max-width: 375px) {
    .container {
        width: 300px;
    }

    .main .gallery--cards--fon {
        width: 145px;
        height: 174px;
    }

    .main .title--pos.pos2 {
        right: -16px;
    }

    .main .title--pos.pos4 {
        right: 138px;
    }

    .main .title--pos.pos3 {
        right: 15px;
    }

    .main .title--pos.pos9 {
        left: 39px;
    }

    .main .title--pos.pos8 {
        right: 25px;
    }

    .main .title--pos.pos6 {
        right: 64px;
    }

    .main .title--pos.pos7 {
        left: 56px;
    }

    .main .gallery--cards--fon.act {
        width: 145px;
        height: 176px;
    }

    .main .gallery--cards--fon.act::before {
        background-size: contain;
    }
}